@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
body{
    font-family: 'Inter', sans-serif;;

}
.nav-select {
    background-color: white;
}

li {
    list-style: none;
    font-size: 10px;
}

body {
    box-sizing: border-box;
}

.hamburger {
    height: 22px;
    width: 20px;
    cursor: pointer;
    flex-basis: 40%;
}

.bar {
    display: block;
    margin: 5px;
    height: 1px;
    width: 12px;
    background-color: black;
}

.bar:nth-child(even) {
    width: 8px;
}


.nav-menu {
    position: fixed;
    top: 20px;
    left: 0;
    z-index: 1;
    display: none;
}

.nav-menu.open-nav {
    display: block;
}

.nav-select {
    display: flex;

}

ul.nav-menu.open-nav {
    background-color: white;
    text-decoration: none;
    color: #000000;
}



.bell {
    position: sticky;
    align-self: center;
    left: 95%;
}

.img-select {
    width: 5em;
    height: 1.3em;
}

.img {
    flex-basis: 60%;

}

img.calaries {
    width: 61%;
    height: 79px;
    margin: 23px;
    margin-left: 40px;
}

.information {
    position: relative;
    height: 300px;
    background-image: linear-gradient(180deg, #6249C5 50%, #6f99db);
    opacity: 0 50%;

}

.image {
    position: relative;
    height: 150px;
    width: 150px;


}


.textInfo {
    width: 200px;
}

.cc1 {
    position: absolute;
    width: 90px;
    height: 15px;
    left: calc(50% - 90px/2 + 60px);
    top: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 0.6em;
    line-height: 15px;
    /* identical to box height */
    color: #F7F5FF;
}

.cc2 {
    position: absolute;
    width: 59px;
    height: 19px;
    left: calc(50% - 59px/2 + 44.5px);
    top: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 0.6em;
    line-height: 19px;
    color: #F7F5FF;
}

.cc3 {
    position: absolute;
    width: 85px;
    height: 15px;
    left: calc(50% - 85px/2 + 57.5px);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 0.5em;
    line-height: 15px;
    /* identical to box height */
    top: 34px;

    color: #F7F5FF;
}

.cc4 {
    position: absolute;
    width: 61px;
    height: 19px;
    left: calc(50% - 61px/2 + 45.5px);

    top: 42px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 0.6em;
    line-height: 19px;

    color: #F7F5FF;

}

.cc5 {
    position: absolute;
    left: calc(50% - 55px/2 + 114.5px);
    top: 45px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 0.55em;
    line-height: 15px;
    /* identical to box height */
    color: #F7F5FF;
}

.cc6 {
    position: absolute;
    left: calc(50% - 50px/2 + 112px);
    top: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 0.55em;
    line-height: 15px;
    /* identical to box height */
    color: #F7F5FF;

}

.circle {
    width: 80.33px;
    height: 80.08px;
    left: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;
    border: 7px #C9BFF2;
    border-style: dashed solid solid;
    margin-bottom: 38px;
}

.circleText {
    /* style="font-size: 0.5em; color: #fff; position:relative; top: 40%;"*/
    position: relative;
    font-size: 0.55em;
    color: #fff;
    top: 35%;
}

.circle1 {
    width: 80.33px;
    height: 80.08px;
    left: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    border: 7px #FECD83;
    border-style: dashed solid solid;
    margin-bottom: 38px;
}

.circleflex {
    display: flex;
    height: 60px;
    width: 60px;
    flex-direction: column;
    font-size: 0.55em;
    justify-content: center;
    align-items: center;
}

.circle2 {
    width: 80.33px;
    height: 80.08px;
    left: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    border: 7px #35D6FA;
    border-style: dashed solid solid;
    margin-bottom: 38px;
}
.scale{
    font-family: 'Inter', sans-serif;
    font-size: smaller;
    margin: 5px;
    color: #F7F5FF;

}
.avatar {
    position: absolute;
    width: 102px;
    height: 101px;

}


.circleimg {
    width: 1.2em;
    height: 1.3em;
}



.buttonMod {
    width: 65px;
    height: 20px;
    position: absolute;
    font-weight: 700;
    line-height: 17px;
    /* identical to box height */
    text-align: center;
    background: linear-gradient(180deg, #FCCD87 0%, #C9BFF2 100%);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 34px;
    border: none;
    color: #6249C5;
    font-size: 9px;
    cursor: pointer;
    top: 120px;
    left: 15px;
}



.section1 {
    position: relative;
    height: 10em;
    display: flex;
    justify-content: center;
    top: 5%;
}

.section2 {
    display: flex;
    height: 10em;
    align-items: center;
    justify-content: space-evenly;
}

.mainSecond {
    margin: 0.3em;
    padding: 0.1em;
}

#onbtn {
    border-radius: 34px;
    height: 2.5em;
    width: 6em;
    background-color: #6249c5;
    border: 1px solid #6249C5;
}

#one {
    border-radius: 34px;
    height: 2.5em;
    width: 6em;
    background-color: #6249c5;
    border: 1px solid #6249C5;
}

#two {
    border-radius: 34px;
    height: 2.5em;
    width: 6em;
    background-color: #fff;
    color: #6249C5;
    border: 1px solid #6249C5;
}

.buttonNav {
    display: flex;
    justify-content: space-between;
    margin: 10px;

}

.hamburger1 {
    height: 30px;
    width: 30px;
    cursor: pointer;
    align-self: center;

}

.hamburger1 .bar {
    display: block;
    margin: 5px;
    height: 1px;
    width: 12px;
    background-color: black;
}

.firstCards {
    display: flex;
    flex-direction: column;
}

.firstCards .header {
    margin: 10px 0;
}

.three {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-flow: row;
    width: auto;
    flex-wrap: wrap;
}


.seecard {
    position: relative;
    border-radius: 8px;
    cursor: pointer;
}

.seecardIndi {
    position: relative;
    border-radius: 8px;
    cursor: pointer;
}

.seecardgrp {
    position: relative;
    border-radius: 8px;
    cursor: pointer;
    width: 180px;
}

.headerText {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.rectimg {

    max-height: 100%;
    max-width: 100%;
    overflow: scroll;
}

.text {
    position: absolute;
    top: 78%;
    left: 4%;
    color: #F7F5FF; 
    font-size: 12px;
    font-family: 'Inter', sans-serif;
}

.topofpage {
  background-color: #C9BFF2;
  padding: 0.5em;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}
.topofpage a{
    text-decoration: none;
    color:#F7F5FF;
}

.insidepage {
    font-size: small;
    align-self: center;
    text-align: center;
}

/* FOOTER */
footer {
    background: linear-gradient(158.72deg, #6249C5 14.01%, #49B2C9 134.3%);
    padding: 3em 2em;
    color: white;
}

.home {
    text-decoration: none;
    color: #000000;
}

#app-footer {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-content: space-between;
    font-size: 0.75em;
}

#footer-left {
    flex: 2 0 0;
    display: flex;
    flex-flow: column;
    gap: 2em;
}

#footer-left img {
    max-width: min-content;
}

#footer-right {
    flex: 1 0 0;
    display: flex;
    flex-flow: column;
    gap: 2em
}

#follow-us h2 {
    font-size: 1em;
    padding-bottom: 1em;
}

#footer-socials {
    padding-bottom: 6em;
}

#footer-socials img {
    padding-right: 1em;
}

.footer-bold {
    font-weight: 700;
    color: white;
    text-decoration: none;
}

.footer-reg {
    font-weight: 400;
    color: white;
    text-decoration: none;
}

.footer-reg2 {
    font-weight: 400;
    color: white;
    text-decoration: none;
    margin-top: 23px;

}

.tiny-text {
    font-size: 0.5em;
    text-align: center;
    padding-top: 2em;
}

/* MediaQuery */

@media(max-width:1199px) {
    .information {
        padding: 50px 0 0;
        height: auto;
    }

    .section2 {
        padding: 10px 0 50px;
        align-items: center;
        justify-content: center;
        height: auto;
    }

    .circle,
    .circle1,
    .circle2 {
        margin: 0 10px;
        width: 80px;
        height: 80px;
        margin-bottom: 0;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .circleflex {
        text-align: center;
    }

    .circleText {
        position: absolute;
        font-size: 0.55em;
        color: #fff;
        top: auto;
        bottom: -24px;
    }

    .image {
        position: relative;
        height: auto;
        width: 120px;
    }

    .section1 {
        position: relative;
        height: 10em;
        display: flex;
        justify-content: center;
    }

    .textInfo {
        border: none;
        width: auto;
    }

    img.calaries {
        width: auto;
        height: auto;
        margin: auto;
    }
}

@media(max-width: 767px) {
    .nav-menu {
        position: fixed;
        top: 20px;
        width: 27%;
        padding: 20px 10px;
    }

    .nav-menu li.active a {
        color: red;
    }

    .firstCards {
        display: block;
    }

    .card-row {
        overflow-x: auto;
    }

    .three {
        display: inline-flex;
        justify-content: space-between;
        gap: 10px;
        width: auto;
        flex-wrap: inherit;
        overflow-x: auto;
    }

    .seecard {
        position: relative;
        border-radius: 8px;
        cursor: pointer;
        width: 180px;
    }

    .seecardIndi {
        position: relative;
        border-radius: 8px;
        cursor: pointer;
        width: 180px;
    }

    .seecardgrp {
        position: relative;
        border-radius: 8px;
        cursor: pointer;
        width: 180px;
    }
}